<% wrap_layout :blog do %>
  <article>
    <section class="shadow">
      <%= partial 'partials/meta', locals: {article: current_article} %>
      <h1 class="post-title">
        <i class="glyphicon glyphicon-info-sign"></i>
        <%= current_article.title %>
      </h1>

      <div class="post-content">
        <%= yield %>
      </div>
    </section>

    <%= partial 'partials/sharing' %>
    <%= partial 'partials/comments' %>
  </article>
<% end %>
