<ul class="list-group">
  <li class="list-group-item list-group-item-success">
    关于我
  </li>

  <li class="list-group-item profile">
    <img src="http://tp1.sinaimg.cn/1429798952/50/5627311745/1" alt="破而后立">
    骚年，在日8年归国<br>
    前SA, Oracle DBA<br>
    系统架构师<br>
    全栈式Rails开发者<br>
    关注Web，移动，创业<br>
    <div class="social">
      <a class="wechat" href="/images/social/my_wechat.png" rel='facebox' title="Wechat">微信</a>
      <a class="github" href="https://github.com/wongyouth" title="GitHub">GitHub</a>
      <a class="twitter" href="http://twitter.com/wongyouth" title="Twitter">Twitter</a>
      <a class="rss" href="/atom.xml" title="RSS">RSS</a>
    </div>
  </li>
</ul>

<ul class="list-group">
  <li class="list-group-item list-group-item-success">
    近期文章
  </li>

  <% blog.articles[0...5].each do |article| %>
    <li class="list-group-item">
      <%= link_to article.title, article %> <span class="text-muted"><%= article.date.strftime('%m-%d') %></span>
    </li>
  <% end %>
</ul>

<ul class="list-group">
  <li class="list-group-item list-group-item-success">
    近期评论
  </li>
  <li class="list-group-item recent-comments">
    <ul class="ds-recent-comments" data-num-items="5" data-show-avatars="1" data-show-time="1" data-show-admin="1" data-excerpt-length="70"></ul>
  </li>
</ul>

<ul class="list-group">
  <li class="list-group-item list-group-item-success">
    标签云
  </li>

  <li class="list-group-item" id="tagcloud">
    <% blog.tags.each do |tag, articles| %>
      <%= link_to tag, tag_path(tag), rel: articles.size %>
    <% end %>
  </li>
</ul>

<ul class="list-group">
  <li class="list-group-item list-group-item-success">
    年份
  </li>

  <% blog.articles.group_by {|a| a.date.year }.each do |year, articles| %>
    <li class="list-group-item">
      <span class="badge"><%= articles.size %></span>
      <%= link_to year, blog_year_path(year) %>
    </li>
  <% end %>
</ul>

<ul class="list-group">
  <li class="list-group-item">
    <div id="qrcode"></div>
    <div>使用手机阅读或分享至微信朋友圈</div>
  </li>
</ul>
