<ul class="list-group">
  <li class="list-group-item">
    <div id="qrcode"></div>
    <div>使用手机阅读或分享至微信朋友圈</div>
  </li>
</ul>
<ul class="list-group">
  <li class="list-group-item list-group-item-success">
    最近的文章
  </li>

  <% blog.articles[0...5].each do |article| %>
    <li class="list-group-item">
      <%= link_to article.title, article %> <span><%= article.date.strftime('%m-%d') %></span>
    </li>
  <% end %>
</ul>

<ul class="list-group">
  <li class="list-group-item list-group-item-success">
    标签云
  </li>

  <li class="list-group-item" id="tagcloud">
    <% blog.tags.each do |tag, articles| %>
      <%= link_to tag, tag_path(tag), rel: articles.size %>
    <% end %>
  </li>
</ul>

<ul class="list-group">
  <li class="list-group-item list-group-item-success">
    年份
  </li>

  <% blog.articles.group_by {|a| a.date.year }.each do |year, articles| %>
    <li class="list-group-item">
      <span class="badge"><%= articles.size %></span>
      <%= link_to year, blog_year_path(year) %>
    </li>
  <% end %>
</ul>
