---
pageable: true
per_page: 12
---
<h1>含有 <code><%= tagname %></code> 标签的博文</h1>

<% page_articles.group_by{|p| p.date.year}.each do |year, articles| %>
  <%= partial 'partials/archive', locals: {title: year, articles: articles} %>
<% end %>

<% if paginate && num_pages > 1 %>
  <ul class="pager">
    <li class="<%= 'disabled' unless prev_page %>">
      <%= link_to '&laquo;', prev_page %>
    </li>
    <%= link_to "#{page_number} / #{num_pages}", nil, class: 'btn' %>
    <li class="<%= 'disabled' unless next_page %>">
      <%= link_to '&raquo;', next_page %>
    </li>
  </ul>
<% end %>
